extends layout

block content
    a(href="/") Powrot
    br
    form(action='/api/cashout')
        h3 Wyplata z konta
        label(for='accnum') Numer konta:
        br
        input#accnum(type="number" name="accnum")
        br
        label(for='amount') Kwota:
        br
        input#amount(type="number" name="amount")
        br
        button(type='submit') Zatwierdz
        br
        if (message)
            p #{message}