extends layout

block content
    a(href="/") Powrot
    br
    form(action="/api/check-balance")
        h3 Stan konta
        label(for='accnum') Numer konta:
        br
        input#accnum(type="number" name="accnum")
        br
        button(type='submit') Sprawdz stan
        br
        if (balance)
            p Saldo konta: #{balance}
        if (error)
            p #{error}