extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/transfer") Przelew srodkow
  br
  a(href="/withdraw") Stan konta
  br
  a(href="/cashin") Wplata na konto
  br
  a(href="/cashout") Wyplata z konta